*.pyc
plots/
animations/
_amuse_output_data/
galaxies/data/
.ipynb_checkpoints/
stars/.ipynb_checkpoints/
igmedium/.ipynb_checkpoints/
galaxy-model-test/.ipynb_checkpoints/
data-analysis/.ipynb_checkpoints/
